{% extends "www/assets/src/common/_layout.html" %}
{% set page={
    title : "技术服务-唯佰生物科技有限公司",
    keywords : "技术服务-唯佰生物科技有限公司",
    description : "技术服务-唯佰生物科技有限公司"
} %}
{%block css%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/tech/css/main.css"/>
{%endblock%}
{%block content%}
    {% include "www/assets/src/common/_swiper.html" %}
    <div class="v-content v-pTitle">
    	<h2>技术服务<span>Technical services</span></h2>
    </div>
    <div class="v-content v-pTech">
    	<div class="pTech-special">
			<img src="{$bigTech['img_url']}" alt="{$bigTech['title']}"/>
			<div>
				<h3>{$bigTech['title']}</h3>
				<p>{$bigTech['des']}</p>
			</div>
		</div>
    	<ul>
			{if techs}
				{foreach $techs as $tk => $tv}
				<li class="{if $tk%3 == 2}last{/if}">
					<img src="{$bigTech['img_url']}" alt="{$bigTech['title']}"/>
					<h3>{$bigTech['title']}</h3>
					<p>{$bigTech['des']}</p>
				</li>
				{/foreach}
			{/if}
    	</ul>
    </div>
{%endblock%}
{%block js%}
{{ super() }}
<script type="text/javascript" src="/tech/js/main.js"></script>
{%endblock%}