{% extends "boss/assets/src/common/layout.html" %}
{% set page={
    title : "唯佰科技管理后台-关于我们",
    keywords : "唯佰科技管理后台-关于我们",
    description : "唯佰科技管理后台-关于我们",
    barTitle: "关于我们",
    firstCur: "cms",
    secondCur: "about"
} %}
{%block css%}
<link rel="stylesheet" type="text/css" href="/weditor/dist/css/wangEditor.css"/>
<link rel="stylesheet" type="text/css" href="/common/css/table.css"/>
<link rel="stylesheet" type="text/css" href="/about/css/list.css"/>
{%endblock%}
{%block content%}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="page-title">
				唯佰科技管理后台 <small>{{ page.barTitle }}</small>
			</h3>
		</div>
	</div>
	<div id="aboutForm" class="row-fluid">
		<div class="span12">
			<!-- BEGIN SAMPLE FORM PORTLET-->
			<div class="portlet box blue">
				<div class="portlet-title v-product">
					<div class="caption"><i class="icon-reorder"></i>{{ page.barTitle }}</div>
				</div>

				<div class="portlet-body form">
					<!-- BEGIN FORM-->
					<form id="Jnewform" action="#" class="form-horizontal">
						<input type="hidden" name="cmsType" value="4" />
						<input type="hidden" name="json" value="1" />
						<input id="cmsId" name="cmsId" type="hidden" value="{$cmsData['id']}"/>
						<div id="editor-trigger-about" style="height:400px;max-height:500px;"><p>{$cmsData['content']}</p></div>
						<div class="form-actions">
							<button id="saveEdit" type="button" class="btn blue"><i class="icon-save"></i>保存</button>
							<button id="cancelEdit" type="button" class="btn"><i class=" icon-remove"></i>清空</button>
						</div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
			<!-- END SAMPLE FORM PORTLET-->
		</div>
	</div>
</div>
{%endblock%}
{%block js%}
<script type="text/javascript" src="/lib/js/select2.min.js"></script>
<script type="text/javascript" src="/lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="/lib/js/jquery.bootpag.min.js"></script>
<script type="text/javascript" src="/lib/js/tableList.js"></script>
<script type="text/javascript" src="/common/js/table.js"></script>
<script type="text/javascript" src="/common/js/modal.js"></script>
<script type="text/javascript" src="/weditor/dist/js/wangEditor.js"></script>
<script type="text/javascript" src="/about/js/list.js"></script>
{%endblock%}