{% extends "boss/assets/src/common/layout.html" %}
{% set page={
title : "唯佰科技管理后台-代理品牌添加／编辑",
keywords : "唯佰科技管理后台-代理品牌添加／编辑",
description : "唯佰科技管理后台-代理品牌添加／编辑",
barTitle: "代理品牌添加／编辑",
firstCur: "cms",
secondCur: "brand"
} %}
{%block css%}
<link rel="stylesheet" href="/common/css/upload.css"/>
<link href="/lib/css/jquery.fileupload-ui.css" rel="stylesheet"/>
{%endblock%}
{%block content%}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                唯佰科技管理后台
                <small>{{ page.barTitle }}</small>
            </h3>
        </div>
    </div>
    <div id="JdataPanel" class="portlet box blue">
        <div class="portlet-title v-product">
            <div class="caption"><i class="icon-barcode"></i>{{page.barTitle}}</div>
        </div>
        <div class="portlet-body">
            <form action="/cms/action" class="form-horizontal" method="POST" id="newsForm">
                <!-- 标题 BEGIN-->
                <div class="control-group">
                    <label class="control-label">品牌名称：</label>
                    <div class="controls">
                        <input id="title" name="title" class="span6 m-wrap" type="text" value="{$cms[title]}" />
                    </div>
                </div>
                <!-- 标题 END-->

                <!-- 品牌地址 BEGIN-->
                <div class="control-group">
                    <label class="control-label">品牌地址：</label>
                    <div class="controls">
                        <input id="hyperlink" name="hyperlink" class="span6 m-wrap" type="text" value="{$cms[hyperlink]}" />
                    </div>
                </div>
                <!-- 品牌地址 END-->

                <!-- 品牌图片 BEGIN-->
                <div class="control-group">
                    <label class="control-label">品牌图片：</label>
                    <div class="controls">
                        <span class="btn green fileinput-button{if $cms[img_url]} v-hide{/if}">
                            <span><i class="icon-plus"></i> 添加图片</span>
                            <input class="Jupload" data-show="#JshowPic" type="file" name="upfile"  accept="image/gif,image/jpeg,image/png"/>
                        </span>
                    </div>
                    <div id="JshowPic" class="span6 files upload-pre">
                        {if $cms[img_url]}
                            <div>
                                <p>
                                    <img style="vertical-align: middle;" src="{$cms[img_url]}" alt="新闻图片"/>
                                    <input type="hidden" name="imgUrl" value="{$cms[img_url]}"/>
                                    <button id="JmodifyPic" type="button" style="margin-left: 8px;" class="btn blue"><i class="icon-edit"></i> 修改图片</button>
                                </p>
                            </div>
                        {/if}
                    </div>
                </div>
                <!-- 品牌图片 BEGIN-->

                <!-- 排序 BEGIN-->
                <div class="control-group">
                    <label class="control-label">排序：</label>
                    <div class="controls">
                        <input id="sort" name="sort" class="span6 m-wrap" type="text" value="{$cms[sort]}" />
                    </div>
                </div>
                <!-- 排序 BEGIN-->

                <!-- 品牌描述 BEGIN-->
                <div class="control-group">
                    <label class="control-label">品牌描述：</label>
                    <div class="controls">
                        <textarea id="des" name="des" class="span6 m-wrap" rows="3">{$cms[des]}</textarea>
                    </div>
                </div>
                <!-- 品牌描述 END-->

                <div class="form-actions">
                    <input type="hidden" name="isEdit" value="{$isEdit}"/>
                    <input type="hidden" name="cmsId" value="{$cmsId}"/>
                    <input type="hidden" name="json" value="1"/>
                    <input type="hidden" name="type" value="{$type}"/>
                    <button type="button" class="btn blue" id="newsSubmit"><i class="icon-ok"></i> 提交</button>
                    <a href="/cms/brand" class="btn red"><i class="icon-remove"></i> 取消</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}
{%block js%}
<script src="/common/js/fileupload/jquery.iframe-transport.js"></script>
<script src="/common/js/fileupload/jquery.fileupload.js"></script>
<script src="/common/js/fileupload/jquery.fileupload-process.js"></script>
<script src="/common/js/fileupload/jquery.fileupload-validate.js"></script>
<script type="text/javascript" src="/common/js/modal.js"></script>
<script type="text/javascript" src="/common/js/upload.js"></script>
<script type="text/javascript" src="/brand/js/action.js"></script>
{%endblock%}