// variables
@import "variable.scss";
.#{$space}header{
	background-color: #{$c3};
	.header-top{
		height: 120px;
		position: #{$pr};

		a{
			position: #{$pa};
			left: 0;
			bottom: 26px;
			display: block;
			width: 170px;
			height: 70px;
			img{
				width: 100%;
				height: 100%;
			}
		}

		.top-search{
			position: #{$pa};
			top: 40px;
		    left: 300px;
		    width: 500px;
		    height: 40px;
		    border: 1px solid #{$c2};
			background-color: #{$c3};
			.search-text{
				font-size: 14px;
				width: 360px;
				height: 100%;
				text-indent: 20px;
				color: #999;
				border: none;
			}
			button{
				position: #{$pa};
				top: 0;
				height: 100%;
				transition: background-color .6s ease 0s;
				color:#{$c3};
				background-color: #{$c2};
			}
			i{
				margin-right: 8px;
			}
			.search-button{
				width: 140px;
				right: 0;
				font-size: 16px;
				border: none;
				cursor: pointer;
				&:hover{
					background-color: #068606;
				}
			}
			.phone-button{
				right: -200px;
				border: 1px solid #{$c2};
				background-color: #{$c2};
				font-size: 16px;
				width: 150px;
				&:hover{
					color: #{$c2};
					background-color: #{$c3};
				}
			}
		}
	}
	.header-wrap{
		height: 50px;
		background-color: #{$c2};

		.wrap-nav{
			position: #{$pr};
			height: 100%;

			.nav-item{
				height: 100%;
				float: #{$fl};
				margin-right: 3px;

				&.has-child i{
					position: #{$pr};
					top: -18px;
					left: 50%;
    				margin-left: -6px;
    				color: #{$c3};
    				&:before{
    					transition: all .3s ease 0s;
    				}
				}

				ul{
					position: #{$pa};
					left: 0;
					width: 100%;
					background: #ffffff none repeat scroll 0 0;
				    border-bottom: 4px solid #{$c2};
				    opacity: 0;
				    padding-top: 20px;
				    top: 115%;
				    transition: all 0.3s ease 0s;
				    z-index: -99;

				    li {
				    	float: left;
				    	width: 20%;
				    	margin-bottom: 30px;
				    	&:nth-child(5n){
				    		clear: left;
				    	}

				    	a{
				    		display: block;
				    		padding-top: 3px;
				    		padding-bottom: 3px;
				    		margin-left: 30px;
				    		margin-right: 30px;
				    		font-weight: 300;
				    		color: #454545;
				    		transition: all 0.3s ease 0s;

				    		&.item-nav{
				    			font-weight: 500;
				    			font-size: 15px;
				    			color: #444;
				    		}

				    		&:hover{
				    			color: #{$c2};
    							padding-left: 4px;
				    		}
				    	}
				    }
				}

				> a{
					display: block;
					height: 100%;
					line-height: 50px;
					padding-left: 30px;
					padding-right: 30px;
					font-size: #{$f14};
					color: #{$c3};
					transition: background-color .3s ease 0s;
				}
				&.active,&:hover{
					> a{
						background-color: #{$c3};
						border-top: 2px solid #{$c2};
						color: #{$c2};
					}
					i{
						color: #{$c2};
					}
				}

				&:hover{
					ul{
						opacity: 1;
					    top: 100%;
					    visibility: visible;
					    z-index: 999;
					}

				    i:before{
				    	transform: rotate(180deg);
				    }
				}
			}
		}
	}
}