a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.tcdPageCode {
	padding: 15px 20px;
	text-align: left;
	color: #ccc;
	text-align: center;
	a {
		display: inline-block;
		color: #139216;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		padding: 0 20px;
		border: 1px solid #ddd;
		margin: 0 2px;
		vertical-align: middle;
	}
	a:hover {
		text-decoration: none;
		border: 1px solid #139216;
	}

	span.current {
		display: inline-block;
		height: 25px;
		line-height: 25px;
		padding: 0 20px;
		margin: 0 2px;
		color: #fff;
		background-color: #139216;
		border: 1px solid #139216;
		vertical-align: middle;
	}

	span.disabled {
		display: inline-block;
		height: 25px;
		line-height: 25px;
		padding: 0 20px;
		margin: 0 2px;
		color: #bfbfbf;
		background: #f2f2f2;
		border: 1px solid #bfbfbf;
		vertical-align: middle;
	}
}