// 命名空间
$space: "v-" !default;
// 定位
$pr: "relative";
$pa: "absolute";
// 浮动
$fl: "left";
$fr: "right";
// 溢出
$oh: "hidden";
// 字体大小
$f12: "12px";
$f14: "14px";
$f16: "14px";
// 颜色
$c1: "#000";
$c2: "#009400";