@import "../../common/css/variable.scss";
.pDetail-info{
	background-color: #fff;
	padding: 40px;
	height: 370px;
	margin-bottom: 20px;
	position: relative;

	a{
		height: 370px;
	}

	img{
		width: 450px;
		height: 100%;
	}
	h3{
		font-size: 30px;
		color: #000;
		position: absolute;
		top: 40px;
    	left: 548px;
	}
	p.info-brand{
		font-size: 20px;
		position: absolute;
		top: 100px;
    	left: 548px;
    	color: #009400;
	}
	.info-left{
		position: absolute;
		top: 150px;
		left: 548px;
		font-size: 18px;
    	color: #000;
		li{
			margin-bottom: 59px;
		}
	}
	.info-right{
		position: absolute;
		top: 150px;
		right: 30px;
		width: 300px;
    	overflow: hidden;
    	border-bottom: 1px solid #ccc;
		li{
			width: 148px;
			float: left;
			border-top: 1px solid #ccc;
			border-right: 1px solid #ccc;
			text-align: center;
			font-size: 18px;
			color: #000;
			height: 50px;
			line-height: 50px;
			&.special{
				font-weight: bold;
				background-color: #dff0d8;
				border-left: 1px solid #ccc;
			}
		}
	}
}
.pDetail-content{
	overflow: hidden;
	margin-bottom: 90px;
	ul{
		float: left;
		width: 50px;
		border-right: 1px solid #009400;
	}
	li {
		width: 10px;
		margin-bottom: 5px;
		background-color: #fff;
    	padding: 50px 20px;
    	cursor: pointer;
    	word-wrap: break-word;

    	&.active{
    		background-color: #009400;
    		color: #fff;
    	}
    	&.last{
    		margin-bottom: 0;
    	}
	}

	.cotent-main{
		float: right;
		width: 1139px;
		min-height: 492px;
		background-color: #fff;
		color: #000;

		h4{
			font-size: 32px;
		    text-align: center;
		    margin-top: 40px;
		}

		div{
			padding: 20px 80px;
		    line-height: 22px;
		    letter-spacing: 2px;
		    text-indent: 2em;
		    text-align: justify;
		    img{
		    	width: 100%;
		    }
		}
		.main-doc {
			color: #{$c2};
			text-decoration: underline;
			display: block;
			margin-left: 40px;
			margin-top: 30px;
		}
	}
}