@import "../../common/css/variable.scss";
.pDetail-info{
    overflow: hidden;
	background-color: #fff;
	padding: 40px;
	margin-bottom: 20px;
	position: relative;
	letter-spacing:1px;

	a{
        float: left;
		display: block;
		height: 280px;
		width: 280px;
	}

	img{
		width: 280px;
		height: 100%;
	}
	.info-right{
        float: right;
		width: 820px;

    	h3{
			font-size: 28px;
			color: #{$c2};
		}
		li{
			width: 28%;
			margin-right: 10px;
			float: left;
			font-size: 14px;
			color: #000;
			margin-bottom: 12px;
		}


		.info-brand{
			font-size: 20px;
	    	color: #{$c2};
	    	margin-top: 10px;
    		margin-bottom: 10px;
		}
		.info-detail{
	    	color: #000;
	    	overflow: hidden;
	    	margin-bottom: 10px;
		}

		table{
			width: 100%;
			border-collapse: collapse;
			border: 1px solid #{$c2};

			th,td{
				border: 1px solid #{$c2};
				padding-left: 8px;
				text-align: left;
			}

			th{
				background-color: #dff0d8;
				padding-top: 8px;
				padding-bottom: 8px;
			}
			td{
				padding-top: 6px;
				padding-bottom: 6px;

				.productTd{
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					width: 397px;
				}
			}
		}
	}
}
.pDetail-content{
	overflow: hidden;
	margin-bottom: 90px;
	letter-spacing:1px;
	.left-history{
		width: 320px;
		float: left;
		background-color: #fff;
		padding-bottom: 10px;
		ul{
			padding-bottom: 10px;
    		border-bottom: 1px solid #{$c2};
		}

		li{
			margin-bottom: 6px;
		}

		h3{
			color: #{$c2};
			padding-bottom: 8px;
			margin-bottom: 10px;
			padding-left: 6px;
    		padding-top: 8px;
			border-bottom: 2px solid #{$c2};
		}

		a{
			display: block;
			color: #252525;
			padding: 0 10px;
			&:hover{
				color: #{$c2};
			}
		}
		img{
			width: 70px;
			height: 70px;
		    display: inline-block;
		    vertical-align: top;
		}
		p{
			width: 68%;
			display: inline-block;
			&.info-none{
				padding-left: 10px;
			}

			strong{
				display: block;
				margin-left: 10px;
				margin-bottom: 8px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				width: 210px;
			}
			span{
				padding-left: 10px;
				display: block;
				margin-top: 10px;
			}
		}

		button{
			margin-top: 8px;
			padding-left: 10px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			&:hover{
				color: #{$c2};
			}
		}
	}
	.content-right{
		width: 860px;
		float: right;
		ul{
			background-color: #{$c3};
			border-bottom: 3px solid #{$c2};
			overflow: hidden;
		}
		li {
			float: left;
			background-color: #fff;
	    	padding: 20px 30px;
	    	cursor: pointer;
	    	font-size: 16px;
	    	word-wrap: break-word;

	    	&.active{
	    		background-color: #009400;
	    		color: #fff;
	    	}
		}

		.cotent-main{
			overflow: hidden;
			min-height: 492px;
			background-color: #fff;
			color: #000;

			h4{
				font-size: 28px;
			    text-align: center;
			    margin-top: 40px;
			}

			div{
				padding: 20px 25px;
			    line-height: 0.15;

			}
			.main-doc {
				color: #{$c2};
				text-decoration: underline;
				display: block;
				margin-left: 40px;
				margin-top: 30px;
			}
			dl {
				padding: 0 25px;
				margin-top: 20px;
				clear:both;
				display:block;
				font-size: 14px;
				color: #666666;

				dd{
					border-bottom: 1px solid #efefef;
					padding:20px 10px 5px 10px;
					a{
						color: #009400;
					}
					a:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}
