{% extends "boss/assets/src/common/layout.html" %}
{% set page={
    title : "唯佰科技管理后台-用户列表",
    keywords : "唯佰科技管理后台-用户列表",
    description : "唯佰科技管理后台-用户列表",
    barTitle: "用户列表",
    firstCur: "manager",
    secondCur: "all"
} %}
{%block css%}
<link rel="stylesheet" type="text/css" href="/lib/css/select2_metro.css" />
<link rel="stylesheet" href="/lib/css/DT_bootstrap.css" />
<link rel="stylesheet" href="/products/css/productList.css" />
<link rel="stylesheet" href="/managers/css/list.css" />
{%endblock%}
{%block content%}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="page-title">
				唯佰科技管理后台 <small>{{ page.barTitle }}</small>
			</h3>
		</div>
	</div>
	<div id="JdataPanel" class="portlet box blue">
		<div class="portlet-title v-product">
			<div class="caption"><i class="icon-user"></i>{{page.barTitle}}</div>
		</div>
		<div class="portlet-body">
			<form class="v-product" id="Jform" method="get" action="/manager/list">
				<div class="product-item">
					<span>管理员ID：</span>
					<input placeholder="管理员ID" class="m-wrap small" type="text" name="managerId" value="{$managerId}"/>
				</div>
				<div class="product-item">
					<span>管理员名称：</span>
					<input placeholder="管理员名称" class="m-wrap small" type="text" name="managerName" value="{$managerName}">
				</div>
				<div class="product-item">
					<span>管理员真实姓名：</span>
					<input placeholder="管理员真实姓名" class="m-wrap small" type="text" name="trueName" value="{$trueName}">
				</div>
				<div class="product-item">
		            <button type="submit" class="btn blue product-btn"><i class="icon-search"></i> 搜索
		            </button>
		        </div>
		        <div class="product-item">
		        	<a class="btn blue" href="/manager/action"><i class="icon-plus"></i>添加管理员</a>
		        </div>
			</form>
			<table class="table table-striped table-bordered table-hover table-full-width">
				<thead>
					<tr>
						<th>编号</th>
                        <th>用户名称</th>
                        <th>真实名称</th>
                        <th>状态</th>
                        <th>最后一次登录时间/登录IP</th>
                        <th>操作</th>
					</tr>
				</thead>
				<tbody>
				{if $managers}
                    {foreach $managers as $mk => $mv}
						<tr>
							<td>{$mv['manager_id']}</td>
                            <td>{$mv['manager_name']}</td>
                            <td>{$mv['true_name']}</td>
                            <td>
                                {if $mv['status']}
                                <span class="label label-important"><i class="icon-lock"></i> 锁定</span>
                                {else}
                                <span class="label label-success"><i class="icon-unlock"></i> 正常</span>
                                {/if}
                            </td>
                            <td>{date("Y-m-d H:i:s", $mv['last_in_time'])} / {long2ip($mv['last_in_ip'])}</td>
                            <td>
                                <a href="/manager/action?managerId={$mv['manager_id']}" class="btn purple user-btn">
                                	<i class="icon-edit"></i>&nbsp;编辑
                                </a>
                                <a href="#" data-id="{$mv['manager_id']}" class="btn yellow user-btn">
                                	<i class="icon-undo"></i>&nbsp;重置密码
                                </a>
                                <a href="#" data-id="{$mv['manager_id']}" class="btn red user-btn">
                                	<i class="icon-trash"></i>&nbsp;删除
                                </a>
                            </td>
						</tr>
					{/foreach}
				{/if}
				</tbody>
			</table>
			{% include "boss/assets/src/common/pagebar.html" %}
		</div>

	</div>
</div>
{%endblock%}
{%block js%}
<script type="text/javascript" src="/lib/js/select2.min.js"></script>
<script type="text/javascript" src="/lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="/lib/js/tableList.js"></script>
<script type="text/javascript" src="/products/js/product.js"></script>
{%endblock%}