{% extends "www/assets/src/common/_layout.html" %}
{% set page={
    title : "测试首页",
    keywords : "测试首页",
    description : "测试首页"
} %}
{%block css%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/brand/css/main.css"/>
{%endblock%}
{%block content%}
    {% include "www/assets/src/common/_swiper.html" %}
    <div class="v-content v-pTitle">
    	<h2>代理品牌<span>Agent brand</span></h2>
    </div>
    <div class="v-content v-pBrand">
    	<ul>
    		<li>
    			<img src="/brand/img/a.jpg" alt=""/>
    			<h3>北京伯尔迈生物技术有限公司</h3>
    			<p>啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
    		</li>
    		<li>
    			<img src="/brand/img/a.jpg" alt=""/>
    			<h3>北京伯尔迈生物技术有限公司</h3>
    			<p>啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
    		</li>
    		<li class="last">
    			<img src="/brand/img/a.jpg" alt=""/>
    			<h3>北京伯尔迈生物技术有限公司</h3>
    			<p>啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
    		</li>
    		<li>
    			<img src="/brand/img/a.jpg" alt=""/>
    			<h3>北京伯尔迈生物技术有限公司</h3>
    			<p>啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
    		</li>
    		<li>
    			<img src="/brand/img/a.jpg" alt=""/>
    			<h3>北京伯尔迈生物技术有限公司</h3>
    			<p>啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
    		</li>
    		<li class="last">
    			<img src="/brand/img/a.jpg" alt=""/>
    			<h3>北京伯尔迈生物技术有限公司</h3>
    			<p>啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌灌啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</p>
    		</li>
    	</ul>
    </div>
{%endblock%}
{%block js%}
{{ super() }}
<script type="text/javascript" src="/brand/js/main.js"></script>
{%endblock%}