{% extends "www/assets/src/common/_layout.html" %}
{% set page={
    title : "代理品牌-唯佰生物科技有限公司",
    keywords : "代理品牌-唯佰生物科技有限公司",
    description : "代理品牌-唯佰生物科技有限公司"
} %}
{%block css%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/brand/css/main.css"/>
{%endblock%}
{%block content%}
    {% include "www/assets/src/common/_swiper.html" %}
    <div class="v-content v-pTitle">
    	<h2>代理品牌<span>Agent brand</span></h2>
    </div>
    <div class="v-content v-pBrand">
    	<ul>
			{if $brands}
				{foreach $brands as $bk => $bv}
					<li class="{if $bk%3 == 2}last{/if}">
						<img src="{$bv['img_url']}" alt="{$bv['title']}"/>
						<h3>{$bv['title']}</h3>
						<p>{$bv['des']}</p>
					</li>
				{/foreach}
			{/if}
    	</ul>
    </div>
{%endblock%}
{%block js%}
{{ super() }}
<script type="text/javascript" src="/brand/js/main.js"></script>
{%endblock%}