@import "../../common/css/variable.scss";
.v-pBrand{
	overflow: hidden;
	ul{
		overflow: hidden;
		li{
			width: 340px;
			padding: 20px;
			float: left;
			margin-right: 20px;
			margin-bottom: 20px;
			color: #1a1a1a;
			background-color: #fff;
			&.last{
				margin-right: 0;
			}
			img{
				width: 100%;
				height: 200px;
			}
			h3{
				font-size: 18px;
				font-weight: normal;
				text-align: center;
				margin-top: 15px;
				margin-bottom: 15px;
				height: 20px;
			    line-height: 20px;
			    overflow: hidden;
				color: #{$c2};
			}

			p{
				font-size: 14px;
				line-height: 24px;
				letter-spacing: 2px;
				height: 50px;
				overflow: hidden;
				color: #666;
			}
		}
	}
}