{% extends "www/assets/src/common/_layout.html" %}
{% set page={
    title : "关于唯佰-唯佰生物科技有限公司",
    keywords : "关于唯佰-唯佰生物科技有限公司",
    description : "关于唯佰-唯佰生物科技有限公司"
} %}
{%block css%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/index/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/lib/swiper/2.7.6/css/idangerous.swiper.css"/>
{%endblock%}
{%block content%}
    {% include "www/assets/src/common/_swiper.html" %}
    {$about['content']}
{%endblock%}
{%block js%}
{{ super() }}
<script type="text/javascript" src="/lib/swiper/2.7.6/js/idangerous.swiper.min.js"></script>
<script type="text/javascript" src="/index/js/index.js"></script>
{%endblock%}