{% extends "www/assets/src/common/_layout.html" %}
{% set page={
    title : "关于唯佰-唯佰生物科技有限公司",
    keywords : "关于唯佰-唯佰生物科技有限公司",
    description : "关于唯佰-唯佰生物科技有限公司"
} %}
{%block css%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/about/css/main.css"/>
{%endblock%}
{%block content%}
    {% include "www/assets/src/common/_swiper.html" %}
    <div class="v-content v-pTitle">
    	<h2>关于我们<span>About ours</span></h2>
    </div>
    <div class="v-pAbout v-content">
    	{$about['content']}
    </div>
{%endblock%}
{%block js%}
{{ super() }}
<script type="text/javascript" src="/about/js/index.js"></script>
{%endblock%}