@import "../../common/css/variable.scss";
.v-pTitle{
	margin-bottom: 15px;
	margin-top: 15px;
	padding-bottom: 10px;
	border-bottom: 2px solid #{$c2};

	h2{
		font-size: 32px;
		color: #{$c2};

		span{
			padding-left: 12px;
			font-size: 16px;
			color: #b7b7b7;
		}
	}
}

.pProduct-nav{
	width: 230px;
	margin-right: 40px;
	overflow: #{$oh};

	li{
		margin-bottom: 10px;
	}
}

.pProduct-content{
	width: 920px;
}