{% extends "www/assets/src/common/_layout.html" %}
{% set page={
    title : "产品列表-韵飞生物科技有限公司",
    keywords : "产品列表-韵飞生物科技有限公司",
    description : "产品列表-韵飞生物科技有限公司"
} %}
{%block css%}
<link rel="stylesheet" type="text/css" href="/productDetail/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/lib/cloudzoom/1.02/css/cloud-zoom.css"/>
<link href="//cdn.bootcss.com/sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet">
{%endblock%}
{%block content%}
    <div class="v-content v-pTitle">
    	<h2>产品中心<a href="/product/index?pid={$pCategory[id]}"> - {$pCategory[name]} - </a><a href="/product/index?pid={$pCategory[id]}&cid={$category[id]}">{$category[name]}</a></h2>
    </div>
    <div class="v-content v-pDetail">
    	{% include "www/assets/src/productDetail/tmpl/_info.html" %}
    	{% include "www/assets/src/productDetail/tmpl/_tab.html" %}
    </div>
{%endblock%}
{%block js%}
<script type="text/javascript" src="/lib/cloudzoom/1.02/js/cloud-zoom.1.0.2.min.js"></script>
<script src="//cdn.bootcss.com/sweetalert/1.0.1/sweetalert.min.js"></script>
<script type="text/javascript" src="/productDetail/js/main.js"></script>
{%endblock%}