{% extends "www/assets/src/common/_layout.html" %}
{% set page={
    title : "产品列表-唯佰生物科技有限公司",
    keywords : "产品列表-唯佰生物科技有限公司",
    description : "产品列表-唯佰生物科技有限公司"
} %}
{%block css%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/productDetail/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/lib/cloudzoom/1.02/css/cloud-zoom.css"/>
{%endblock%}
{%block content%}
    {% include "www/assets/src/common/_swiper.html" %}
    <div class="v-content v-pTitle">
    	<h2>产品中心<a href=""> - 细胞培养</a><a href=""> - 血清</a></h2>
    </div>
    <div class="v-content v-pDetail">
    	{% include "www/assets/src/productDetail/tmpl/_info.html" %}
    	{% include "www/assets/src/productDetail/tmpl/_tab.html" %}
    </div>
{%endblock%}
{%block js%}
{{ super() }}
<script type="text/javascript" src="/lib/cloudzoom/1.02/js/cloud-zoom.1.0.2.min.js"></script>
<script type="text/javascript" src="/productDetail/js/main.js"></script>
{%endblock%}