.product-item{
	span,input{
		display: inline-block;
		vertical-align: middle !important;
	}
}
.form-horizontal .control-label {
	text-align: left;
	padding-left: 70px;
	padding-top: 0;
	width: inherit;
}
.control-group.error .help-inline{
	display: block !important;
}