{% extends "boss/assets/src/common/layout.html" %}
{% set page={
    title : "唯佰科技管理后台-技术服务",
    keywords : "唯佰科技管理后台-技术服务",
    description : "唯佰科技管理后台-技术服务",
    barTitle: "技术服务",
    firstCur: "cms",
    secondCur: "tech"
} %}
{%block css%}
<link rel="stylesheet" type="text/css" href="/lib/css/select2_metro.css" />
<link rel="stylesheet" href="/lib/css/DT_bootstrap.css" />
<link rel="stylesheet" href="/common/css/table.css" />
<link rel="stylesheet" href="/tech/css/list.css" />
{%endblock%}
{%block content%}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="page-title">
				唯佰科技管理后台 <small>{{ page.barTitle }}</small>
			</h3>
		</div>
	</div>
	<div id="JdataPanel" class="portlet box blue">
		<div class="portlet-title v-product">
			<div class="caption"><i class="icon-barcode"></i>{{page.barTitle}}</div>
		</div>
		<div class="portlet-body">
			<form class="v-product" method="get" action="/cms/tech">
				<div class="product-item">
					<select name="searchKey">
						<option value="0">请选择查询条件</option>
						{if "title" == $searchKey}
						<option value="title" selected="selected">技术服务</option>
						{else}
						<option value="title">技术服务</option>
						{/if}
						{if "des" == $searchKey}
						<option value="des" selected="selected">简述</option>
						{else}
						<option value="des">简述</option>
						{/if}
					</select>
				</div>
				<div class="product-item">
					<input placeholder="请输入查询内容" class="m-wrap" type="text" name="searchVal" value="{$searchVal}"/>
		            <button type="submit" class="btn green product-btn"><i class="icon-search"></i>搜 索
		            </button>
		        </div>
		        <div class="product-item">
		        	<button id="addNews" class="btn blue" type="button"><i class="icon-plus"></i>添加服务</button>
		        </div>
			</form>
			<table class="table table-striped table-bordered table-hover table-full-width">
				<thead>
					<tr>
						<th>序号</th>
						<th>技术服务名</th>
						<th>描述</th>
						<th>链接地址</th>
						<th>创建时间</th>
						<th>最后更新时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{if $cmsData}
					{foreach $cmsData as $item}
						<tr>
							<td>{$item[id]}</td>
							<td>{$item[title]}</td>
							<td>{$item[des]}</td>
							<td>{$item[hyperlink]}</td>
							<td>{$item[create_date]}</td>
							<td>{$item[last_update_date]}</td>
							<td>
								<buttton class="Jedit btn purple" data-id="{$item[id]}" type="button"><i class="icon-edit"></i>编 辑</buttton>
								<buttton class="Jdelete btn red" data-id="{$item[id]}" type="button"><i class="icon-trash"></i>删 除</buttton>
							</td>
						</tr>
					{/foreach}
				{/if}
				</tbody>
			</table>
			{% include "boss/assets/src/common/pagebar.html" %}
		</div>

	</div>
	<div id="techForm" class="row-fluid hide">
		<div class="span12">
			<!-- BEGIN SAMPLE FORM PORTLET-->
			<div class="portlet box blue">
				<div class="portlet-title v-product">
					<div class="caption"><i class="icon-reorder"></i>添加技术服务</div>
				</div>

				<div class="portlet-body form">
					<!-- BEGIN FORM-->
					<form id="Jnewform" action="#" class="form-horizontal">
						<input type="hidden" name="cmsType" value="3" />
						<input type="hidden" name="json" value="1" />
						<input id="cmsId" name="cmsId" type="hidden" value=""/>
						<div class="control-group">
							<label class="control-label">技术服务名</label>
							<div class="controls">
								<input id="cmsTitle" name="title" type="text" class="span6 m-wrap" />
							</div>

						</div>
						<div class="control-group">

							<label class="control-label">简述</label>

							<div class="controls">

								<textarea id="cmsDes" name="des" class="span6 m-wrap" rows="3"></textarea>

							</div>

						</div>
						<div class="control-group">

							<label class="control-label">链接地址</label>

							<div class="controls">

								<input id="cmsUrl" name="hyperlink" type="text" class="span6 m-wrap" />


							</div>

						</div>

						<div class="form-actions">

							<button id="saveEdit" type="button" class="btn blue"><i class="icon-save"></i>保存</button>

							<button id="cancelEdit" type="button" class="btn"><i class=" icon-remove"></i>取消</button>

						</div>

					</form>

					<!-- END FORM-->

				</div>

			</div>

			<!-- END SAMPLE FORM PORTLET-->

		</div>

	</div>
</div>
{%endblock%}
{%block js%}
<script type="text/javascript" src="/lib/js/select2.min.js"></script>
<script type="text/javascript" src="/lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="/lib/js/jquery.bootpag.min.js"></script>
<script type="text/javascript" src="/lib/js/tableList.js"></script>
<script type="text/javascript" src="/common/js/table.js"></script>
<script type="text/javascript" src="/common/js/modal.js"></script>
<script type="text/javascript" src="/tech/js/list.js"></script>
{%endblock%}