{% extends "www/assets/src/common/_layout.html" %}
{% set page={
    title : "测试首页",
    keywords : "测试首页",
    description : "测试首页"
} %}
{%block css%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/contact/css/main.css"/>
{%endblock%}
{%block content%}
    {% include "www/assets/src/common/_swiper.html" %}
    <div class="v-content v-pTitle">
    	<h2>联系我们<span>Contact ours</span></h2>
    </div>
    <div class="v-content v-pContact"></div>
{%endblock%}
{%block js%}
{{ super() }}
<script type="text/javascript" src="/contact/js/index.js"></script>
{%endblock%}