{% extends "www/assets/src/common/_layout.html" %}
{% set page={
    title : "联系我们-唯佰生物科技有限公司",
    keywords : "联系我们-唯佰生物科技有限公司",
    description : "联系我们-唯佰生物科技有限公司"
} %}
{%block css%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/contact/css/main.css"/>
{%endblock%}
{%block content%}
    {% include "www/assets/src/common/_swiper.html" %}
    <div class="v-content v-pTitle">
    	<h2>联系我们<span>Contact ours</span></h2>
    </div>
    <div class="v-content v-pContact">
    	{$contact['content']}
    </div>
{%endblock%}